<?xml version="1.0" encoding="UTF-8" ?>
<Configuation status="WARN">
    <Properties>
        <Property name="log-path">/tmp</Property>
    </Properties>
    <Appenders>
        <RollingFile name="file-log" fileName="${log-path}/test.log" filePattern="${log-path}/test-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <!--<TimeBasedTriggeringPolicy interval="1" modulate="true"/>-->
                <SizeBasedTriggeringPolicy size="3 B" />
            </Policies>
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="test" level="info" additivity="false">
            <AppenderRef ref="file-log" level="info"/>
        </Logger>
    </Loggers>
</Configuation>